modules/configuration/gsrc/wsi/local/gw/webservice/cc/cc900/mule/MuleClaimSearchAPI.wsdl

<?xml version="1.0"?>
<!-- Generated WSDL for gw.webservice.cc.cc900.mule.MuleClaimSearchAPI web service -->
<wsdl:definitions targetNamespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/MuleClaimSearchAPI" name="MuleClaimSearchAPI" xmlns:gwsoap="http://guidewire.com/ws/soapheaders" xmlns:gwwsdl="http://guidewire.com/pl/wsdl" xmlns:pogo="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/mule/MuleClaim" xmlns:pogo2="http://guidewire.com/cc/typekey" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/MuleClaimSearchAPI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/pcintegration/MuleClaimSearchAPI" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/ws/soapheaders" schemaLocation="../../../../../../../gw/xsd/guidewire/soapheaders.xsd"/>
      <xs:import namespace="http://guidewire.com/cc/typekey"/>
      <xs:import namespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/mule/MuleClaim"/>
      <!-- findClaimsByClaimantID(String) : MuleClaim[] -->
      <xs:element name="findClaimsByClaimantID">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="contactPublicId" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="findClaimsByClaimantIDResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" gw:viewas="array" xmlns:gw="http://guidewire.com/xsd">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Entry" type="pogo:MuleClaim" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="WsiAuthenticationException">
        <xs:complexType/>
      </xs:element>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/mule/MuleClaim" elementFormDefault="qualified" xmlns:gw="http://guidewire.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/cc/typekey"/>
      <xs:complexType name="MuleClaim">
        <xs:sequence>
          <xs:element name="ClaimNumber" type="xs:string" minOccurs="0"/>
          <xs:element name="ClaimSecurityType" type="xs:string" minOccurs="0"/>
          <xs:element name="FraudIndicator" type="xs:boolean" minOccurs="0"/>
          <xs:element name="LitigationIndicator" type="xs:boolean" minOccurs="0"/>
          <xs:element name="LossDate" type="xs:dateTime" minOccurs="0" gw:type="java.util.Date"/>
          <xs:element name="PolicyNumber" type="xs:string" minOccurs="0"/>
          <xs:element name="PolicyTypeName" type="xs:string" minOccurs="0"/>
          <xs:element name="RemainingReserves" type="xs:decimal" minOccurs="0"/>
          <xs:element name="RemainingReservesCurrency" type="pogo2:Currency" minOccurs="0"/>
          <xs:element name="Status" type="xs:string" minOccurs="0"/>
          <xs:element name="TotalIncurred" type="xs:decimal" minOccurs="0"/>
          <xs:element name="TotalIncurredCurrency" type="pogo2:Currency" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/cc/typekey" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/cc/ws/gw/webservice/cc/cc900/mule/MuleClaim"/>
      <xs:simpleType name="Currency">
        <xs:restriction base="xs:string">
          <xs:enumeration value="usd"/>
          <xs:enumeration value="eur"/>
          <xs:enumeration value="gbp"/>
          <xs:enumeration value="cad"/>
          <xs:enumeration value="aud"/>
          <xs:enumeration value="rub"/>
          <xs:enumeration value="jpy"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:portType name="MuleClaimSearchAPIPortType">
    <wsdl:operation name="findClaimsByClaimantID">
      <wsdl:input name="findClaimsByClaimantID" message="tns:findClaimsByClaimantID"/>
      <wsdl:output name="findClaimsByClaimantIDResponse" message="tns:findClaimsByClaimantIDResponse"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MuleClaimSearchAPISoap12Binding" type="tns:MuleClaimSearchAPIPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="findClaimsByClaimantID">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="findClaimsByClaimantID">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap12:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="findClaimsByClaimantIDResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MuleClaimSearchAPISoap11Binding" type="tns:MuleClaimSearchAPIPortType">
    <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="findClaimsByClaimantID">
      <soap11:operation style="document"/>
      <wsdl:input name="findClaimsByClaimantID">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-language-only" part="gw-language-only" use="literal"/>
        <soap11:header message="tns:gw-locale-only" part="gw-locale-only" use="literal"/>
      </wsdl:input>
      <wsdl:output name="findClaimsByClaimantIDResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MuleClaimSearchAPI">
    <wsdl:port name="MuleClaimSearchAPISoap12Port" binding="tns:MuleClaimSearchAPISoap12Binding">
      <soap12:address location="http://139.59.60.164:8480/cc/ws/gw/webservice/cc/cc900/mule/MuleClaimSearchAPI"/>
    </wsdl:port>
    <wsdl:port name="MuleClaimSearchAPISoap11Port" binding="tns:MuleClaimSearchAPISoap11Binding">
      <soap11:address location="http://139.59.60.164:8480/cc/ws/gw/webservice/cc/cc900/mule/MuleClaimSearchAPI/soap11"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="findClaimsByClaimantID">
    <wsdl:part name="parameters" element="tns:findClaimsByClaimantID"/>
  </wsdl:message>
  <wsdl:message name="findClaimsByClaimantIDResponse">
    <wsdl:part name="parameters" element="tns:findClaimsByClaimantIDResponse"/>
  </wsdl:message>
  <wsdl:message name="WsiAuthenticationException">
    <wsdl:part name="WsiAuthenticationException" element="tns:WsiAuthenticationException"/>
  </wsdl:message>
  <wsdl:message name="gw-authentication">
    <wsdl:part name="gw-authentication" element="gwsoap:authentication"/>
  </wsdl:message>
  <wsdl:message name="gw-locale-only">
    <wsdl:part name="gw-locale-only" element="gwsoap:gw_locale"/>
  </wsdl:message>
  <wsdl:message name="gw-language-only">
    <wsdl:part name="gw-language-only" element="gwsoap:gw_language"/>
  </wsdl:message>
  <wsdl:message name="gw-transaction-id">
    <wsdl:part name="gw-transaction-id" element="gwsoap:transaction_id"/>
  </wsdl:message>
</wsdl:definitions>